@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans Mono", monospace;
}

/* Define keyframes for shimmer effect */
@keyframes shimmer {
  0% {
      background-position: -1000px;
  }
  100% {
      background-position: 1000px;
  }
}

/* Style for shimmer effect */
.shimmer {
  position: relative;
  display: inline-block;
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #005bbb, #f4c300, #fd7622, #71c5e8); /* UNICEF colors */
  background-size: 1000px 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#pointer {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #088178;
  border-radius: 50%;
  opacity: 0.6;
  pointer-events: none; /* Ensure the pointer doesn't interfere with other elements */
  transition: transform 0.15s ease; /* Add a smooth transition effect */
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
/* Curtain style */
#curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Change the color as needed */
  z-index: 1000; /* Ensure it's above other content */
  transition: transform 0.5s ease; /* Add a smooth transition effect */
}

/* Class to slide up the curtain */
.curtain-up {
  transform: translateY(-100%);
}

.text-container {
  text-align: center; /* Center text horizontally */
}

.text-container p {
  margin: 0;
  font-size: 16px; /* Adjust font size */
}

#timer {
  font-size: 20px;
  margin-top: 20px; /* Adjust margin as needed */
}

/* Add your other CSS styles below */


button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;

  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:sticky;
  top: 0;
  left: 0;
}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* This maintains the aspect ratio */
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active{
  color: #088178;
}

#navbar li a:active::after
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#hero{
background-image: url(img/stock-vector-black-bulb-with-checkmark-like-quick-tip-icon-flat-stroke-linear-simple-trend-modern-efficiency-2180594735-removebg-preview.png);
height: 90vh;
width: 100;
background-size:contain;
background-position: top 25% right 0;
background-repeat: no-repeat;
padding: 0 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#hero h1 {
  align-items: flex-start;
  animation: slideIn 1s ease forwards;
}


#member{
  background-image: url(img/4916668987867136-removebg-preview.png);
  height: 90vh;
  width: 100;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  #member h1 {
  
    animation: slideIn 1s ease forwards;
  }

  #member ul {
    list-style-type: none; /* Remove default bullet style */
    padding-left: 0; /* Remove default padding */
  }
  
  #member li {
    position: relative; /* Position for pseudo-element */
    padding-left: 20px; /* Add space for the custom bullet */
    margin-bottom: 10px; /* Add space between list items */
    cursor: pointer;
  }
  
  #member li:before {
    content: ''; /* Add pseudo-element for custom bullet */
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px; /* Size of the square */
    height: 10px; /* Size of the square */
    background-color: transparent; /* Color of the square */
    border: 2px solid #1CABE2; /* Border style of the square */
    transition: background-color 0.3s ease; /* Transition effect */
  }
  
  #member li:hover:before {
    background-color: #1CABE2; /* Change background color on hover */
  }
  

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

#hero h4 {
  padding-bottom: 15px;
  width: 500px;
  
  animation: slideIn 1s ease forwards;
}


#hero h1{
  color: #088178;
}

#hero button{
  background-image: url(img/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
#feature {
  display:  flex;
  align-items: center;
  justify-content: space-between;
  
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}


#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6{
padding: 9px 8px 6px 8px;
line-height: 1;
border-radius: 4px;
color: #088178;
background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #fff2e5;
}

#product1{
  text-align: center;
}


#product1 .pro-container{
display: flex;
justify-content: space-between;
padding-top: 20px;
flex-wrap: wrap;
}



#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  background-color: #1CABE2;
}

#product1 .pro:hover .pro-name {
  color: white; /* Text color of pro-name when hovering */
}

#product1 .pro img{
  width: 100%;
  border-radius: 15px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#product1 .pro .des {

  text-align: start;
  padding: 10px 0;
  animation: fadeIn 1s ease forwards; /* Apply animation */
}







#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  margin-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  color:rgb(243, 181, 25);
  font-size: 12px;
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color:  #088178;
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;

}

#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpeg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;

}

#banner h4{
  color: #fff;
  font-size: 16px;

}

#banner h2{
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span{
  color: #ef3636;
 
}

#banner button:hover{
  background: #088178;
  color: #fff;
}

#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("img/banner/b17.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2{
  background-image: url("img/banner/b10.jpg0");
}

#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  
}

#sm-banner h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  
}

#sm-banner span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  
}

#sm-banner .banner-box:hover button{
  background: #088178;
  border: 1px solid #088178;
}

#platform{
  

  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  platform a {
    width: 100px;
}

#platform2{
  

  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  }
  
 
  platform a {
    width: 100px;
}

#platform3{
  

  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  }
  
  
  
  #platform h2,
#platform2 h2,
#platform3 h2 {
  animation: slideIn 1s ease forwards;
}

  platform a {
    width: 100px;
}

.tab {
  width: 600px;
  background-color: #deeeff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: grey;
}
.container{
  border: grey;
  width: 600px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
}

.tab_box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(229, 229, 229);
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.tab_box .tab_btn{
  font-size: 18px;
  font-weight: 600;
  color: #919191;
  border: none;
  background: none;
  padding: 18px;
  cursor: pointer;
}

.tab_box .tab_btn.active{
color: #7360ff;
}

.content_box{
  padding: 20px;
}

.content_box .content{
  display: none;
  animation: moving .5s ease;
}

@keyframes moving{
  from{transform: translateX(50px); opacity: 0;}
  to{transform: translateX(0px); opacity: 1;}
}

.content_box .content.active{
display: block;
}

.line{
  position: absolute;
  top: 62px;
  left: 30px;
  width: 137px;
  height: 5px;
  background-color: #7360ff;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  text-align: center;
}
.column {
  width: 100%;
  padding: 0.5em 0;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
}
.card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color: #a993ff;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card:hover {
  background: linear-gradient(#6045ea, #8567f7);
  color: #ffffff;
}
.card:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}

#hero h1{
  text-align: left;
  
}

.area-of-work{
background-color: #005bbb;
}
.area-of-work span{
  color: white
}

#tab{
  border-bottom: 2px solid black;
}

#code-of-conduct{
  padding-left: 12%;
}
